:root {
    --font-body: Arial, Helvetica, sans-serif;
}

body {
    background-color: #9beafc; 
}

p h3 h4 {
    font-family: var(--font-body);
    color: black;
}

body .cities-nav {
    background-color: #121a2b;
    overflow: hidden;
}
 body .cities-nav .city {
        border: 0;
        float: left;
        background-color: #333;
        font-family: var(--font-body);
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 17px;

    }
    .cities-nav button:hover {
        background-color: #4165ba;
        color: black;
    }
    .cities-nav button.active {
        background-color: #1445b8;
        color: black;
    }
.content{
    margin: 10;
    background-color: #17181d;
}
    .content .left-column{
        float: left;
        width: 25%;
    }       
        .content .left-column .latest-data {
            margin: 10px;
            border-style: solid;
            border-width: 2px;
            border-color: black;
            border-radius: 4px;
            width: 350px;
        }
            .content .left-column .latest-data th {
                text-align: left;
            }
    .content .right-column {
        float: left;
        width: 75%;
        display: grid;
    }
    .content .right-column .left-graphs {
        float: left;
        width: 50%;
    }
    .content .right-column .right-graphs {
        float: right;
        width: 50%;
    
    }

        .content .right-column .canvas-graph {
            width: 100px;
            height: 100px;
        }


