body {
    background-color: #7ed6df;
}

:root {
    --font-body: Arial, Helvetica, sans-serif;
}

p {
    font-family: var(--font-body);
    color: white;
}

.cities {
    display: flex;
    gap: 24px;
}

.city {
    font-family: var(--font-body);
}

.tablinks 
{
    background-color: blue;
    color: burlywood;
}